:root {
	--dark-orange: '#ea5321';
	--main-olive: '#BCA508';
	--light-orange: '#F28C10';
	--main-yellow: '#F4C200';
	--main-pink: '#F4A7AD';
}

html,
body {
	font-family: 'Raleway', sans-serif;
	box-sizing: border-box;
	margin: 0%;
	padding: 0%;
}
header {
	width: 100vw;
	height: 80px;
}
.primary-nav {
	padding: 5px;
	padding-inline: 0px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 100%;
}
.logo-container {
	margin-inline-start: 1rem;

	height: 100%;
	width: 200px;
}
ul {
	margin-inline-end: 1rem;
	padding: 0%;

	list-style: none;

	width: 70%;
	height: 100%;

	display: flex;
	align-items: center;
	justify-content: space-between;
}

li {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 50%;
	width: calc(100% / 7);
}

a {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	text-decoration: none;
	color: black;
}

.orange {
	color: rgb(255, 166, 0);
	font-weight: 700;
}

.button {
	border-radius: 6px;
	height: 40px;
	width: 120px;
	background-color: orange;
	color: white;
}
